<mat-card class="album-card">
  <a [routerLink]="'/tracks/' + album._id" class="album-link">
    <img mat-card-image
         [src]="apiUrl + '/uploads/' + album.image"
         [alt]="album.name"
    />
  </a>
  <mat-card-content>
    <p *ngIf="!album.isPublished" class="not-published">Not published</p>
    <mat-card-title>{{ album.name }} <small>({{ album.year }})</small></mat-card-title>
  </mat-card-content>
  <mat-card-content fxLayout="row"
                    fxLayoutGap="5px"
                    fxLayoutAlign="center"
                    *appHasRole="['admin']"
  >
    <button type="button"
            mat-flat-button
            color="primary"
            *ngIf="!album.isPublished"
            (click)="onPublish()"
            [disabled]="publishLoading | async"
    >
      <app-loader [isLoading]="publishLoading | async">Publish</app-loader>
    </button>
    <button type="button"
            mat-flat-button
            color="warn"
            (click)="onRemove()"
            [disabled]="removeLoading | async"
    >
      <app-loader [isLoading]="removeLoading | async">Remove</app-loader>
    </button>
  </mat-card-content>
</mat-card>

