<div fxLayout="row" fxLayoutAlign="space-between center" class="header">
  <h1>Albums</h1>
  <a routerLink="./new"
     mat-flat-button
     color="primary"
     *appIsAuth="true"
  >New album</a>
</div>

<mat-card class="error" *ngIf="error | async">
  {{ error | async }}
</mat-card>

<app-loader [isLoading]="isLoading | async" size="lg">
  <div fxLayout="column" fxLayoutGap="16px">
    <mat-card fxLayout="row" *ngIf="artist | async as $artist">
      <div>
        <img mat-card-image
             [src]="apiUrl + '/uploads/' + $artist.image"
             [alt]="$artist.name"
             class="artist-img"
        />
      </div>
      <mat-card-content>
        <mat-card-title>{{ $artist.name }}</mat-card-title>
        <p class="card-text mt-3"
           *ngIf="$artist.information"
        >{{ $artist.information }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Albums</mat-card-title>
    </mat-card>

    <div fxLayout="row" fxLayoutGap="16px">
      <app-album-item *ngFor="let album of albums | async" [album]="album"></app-album-item>
    </div>
  </div>
</app-loader>
