<mat-card>
  <a [routerLink]="['/albums', artist._id]" class="artist-link">
    <img mat-card-image [src]="apiUrl + '/uploads/' + artist.image" [alt]="artist.name"/>
  </a>
  <mat-card-content>
    <p *ngIf="!artist.isPublished" class="not-published">Not published</p>
    <mat-card-title>{{ artist.name }}</mat-card-title>
  </mat-card-content>
  <mat-card-content fxLayout="row"
                    fxLayoutGap="5px"
                    fxLayoutAlign="center"
                    *appHasRole="['admin']"
  >
    <button type="button"
            mat-flat-button
            color="primary"
            *ngIf="!artist.isPublished"
            (click)="onPublish()"
            [disabled]="publishLoading | async"
    >
      <app-loader [isLoading]="publishLoading | async">Publish</app-loader>
    </button>
    <button type="button"
            mat-flat-button
            color="warn"
            (click)="onRemove()"
            [disabled]="removeLoading | async"
    >
      <app-loader [isLoading]="removeLoading | async">Remove</app-loader>
    </button>
  </mat-card-content>
</mat-card>

